<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<!--O App config carrega as informações XML, tudo que eu preciso de referência pode estar aqui-->
		<!--Name é uma referencia para a connection, para a o nome do banco de dados.-->
		<!--providerName é o provedor que faz com que a sqlConnection funciona que é a biblioteca do mesmo. -->
		<add name="conexaoBD" connectionString="data source= DESKTOP-PBFFRBK\SQLEXPRESS01; Integrated Security=SSPI; Initial Catalog=ExemploBD" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>